<%- include('navbar') %>
<div class="container-fluid">
  <!-- CARTAS INDIVIDUALES TRAINERS -->
  <div class="row">
    <div class="d-flex justify-content-center align-items-center text-center">
      <H2>We are Trainimals</H2>
    </div>
  </div>
  <section class="birds">
    <div class="row">
      <% result.forEach(trainer => { %>
      <div
        class="col-sm-12 col-lg-4 d-flex justify-content-center align-items-center pictureAll"
      >
        <!-- picture -->

        <div class="cardT d-flex flex-column align-items-center">
          <img
            src="/images/trainer/<%- trainer.picture %>"
            class="card-img-top"
            alt="... "
            height="200px"
          />
          <div class="pt-2">
            <a href="/trainer/oneTrainer/<%- trainer.trainer_id %>"
              ><button class="botonAll">
                <h3 class="card-text"><%- trainer.name %></h3>
              </button></a
            >
          </div>
        </div>
      </div>

      <% }) %>
    </div>
  </section>

  <!-- SECCION 2 -->
  <section class="medio">
    <div class="row">
      <!-- NEVER FOR MONEY -->
      <div
        class="col-sm-12 col-lg-12 d-flex justify-content-center align-items-center text-center flex-column"
      >
        <h2>NEVER FOR MONEY ALWAYS FOR LOVE</h2>
        <h5>
          Our Trainimals do not seek to profit, only share and continue to learn
          more about the animal world, nature. Many of them offer their home for
          other Trainimals to visit.
        </h5>
        <!-- BOTON JOIN -->
        <div class="d-flex justify-content-center align-items-center pt-3">
          <a href="/trainer/register"
            ><button class="botonJoin">JOIN</button></a
          >
        </div>
      </div>
      <!-- IMAGEN -->
      <div class="col-sm-12 col-lg-12 selvita">
        <img
          src="/images/webImages/animalKingdom.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </section>
</div>
<%- include('footer') %>
